global
    log stdout format raw local0
    stats socket ipv4@0.0.0.0:9999 level admin
    maxconn 1024

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    timeout http-request 5s
    timeout queue 5s

frontend http_front
    bind *:8080
    default_backend application

backend application
    balance roundrobin
    
    option httpchk GET /healthz
    http-check expect status 200

    http-response set-header X-Backend-Server %s
    http-response set-header X-Backend-Version v1 if { srv_id 1 } || { srv_id 2 }
    http-response set-header X-Backend-Version v2 if { srv_id 3 }

    server web-v1-a web-v1-a:80 id 1 check inter 2s fall 2 rise 2 slowstart 5s weight 45
    server web-v1-b web-v1-b:80 id 2 check inter 2s fall 2 rise 2 slowstart 5s weight 45
    server web-v2-canary web-v2-canary:80 id 3 check inter 2s fall 2 rise 2 slowstart 5s weight 10

frontend stats
    bind *:8404
    stats enable
    stats uri /
    stats refresh 5s
